<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="admin" type="com.entity.Admin" />
		<typeAlias alias="rooms" type="com.entity.Rooms" />
		<typeAlias alias="users" type="com.entity.Users" />
		<typeAlias alias="banner" type="com.entity.Banner" />
		<typeAlias alias="article" type="com.entity.Article" />
		<typeAlias alias="signin" type="com.entity.Signin" />
		<typeAlias alias="rewards" type="com.entity.Rewards" />
		<typeAlias alias="broken" type="com.entity.Broken" />
		<typeAlias alias="visit" type="com.entity.Visit" />
		<typeAlias alias="topic" type="com.entity.Topic" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/admin.xml" />
		<mapper resource="mapper/rooms.xml" />
		<mapper resource="mapper/users.xml" />
		<mapper resource="mapper/banner.xml" />
		<mapper resource="mapper/article.xml" />
		<mapper resource="mapper/signin.xml" />
		<mapper resource="mapper/rewards.xml" />
		<mapper resource="mapper/broken.xml" />
		<mapper resource="mapper/visit.xml" />
		<mapper resource="mapper/topic.xml" />
	</mappers>
</configuration>

